{% extends "UserInterface/base/base.html" %} {% block content %}

<div class="h-screen w-full bg-[#EBF4E6] flex justify-center items-center">
  <form
    action="{% url 'login' %}"
    method="post"
    class="h-3/4 w-1/2 border border-black flex flex-col justify-center items-center space-y-4"
  >
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      class="w-3/4 rounded rounded-lg placeholder:pl-2 h-12 pl-2"
      autocomplete="off"
    />

    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      class="w-3/4 rounded rounded-lg placeholder:pl-2 h-12 pl-2"
      autocomplete="off"
    />

    <button
      type="submit"
      class="w-3/4 rounded rounded-lg bg-blue-500 text-white font-semibold p-2"
    >
      Submit
    </button>
  </form>
</div>

{% endblock content %}
